.container {
  overflow-y: scroll;
  background-color: #eeeeee;
  height: inherit;
  height: 100dvh;
  padding: 1rem 0;

  span {
    word-wrap: break-word;
  }

  ul {
    width: 100%;
    li {
      min-width: 300px;;
    }
  }
}
