# Amir Rahimi

# BEGIN SSL
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTPS} !=on [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
#</IfModule>
# END SSL

# BEGIN
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /azeropage/api
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
# END

# CACHE
<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
# END